{% extends "base.html" %} {% block content %}


<header class="hero" style="margin-bottom: 30px;">
  <h1>Examples for the <strong>SUS Language</strong> </h1>
  <p>
    Explore the various examples demonstrating the features and capabilities of SUS
  </p>
  </div>
</header>

<div class="examples-wrapper">
  <!-- Example 1 -->
  <section class="example">
    <h2>Latency Counting - automatic insertion of registers</h2>
    <div class="example-container">
      <p class="example-description">
        Simply add the reg keyword to any critical path and any paths running parallel to it will get latency added to compensate. 
        <br>This is accomplished by adding a 'latency' field to every path.
        

        <img src="{{ get_url(path='images/insertRegisters.png') }}" 
        width="500" 
        height="100" 
        alt="Logo"
        style="border: 5px solid white; border-radius: 8px;">

      </p>
      
      <div class="example-editor">
        <pre><code> 
          <span class="keyword">module</span> <span class="hdl-module">pow17</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">interface</span> <span class="hdl-module">pow17</span> : <span class="type">int</span> <span class="signal" data-info="Input signal, initial latency: 0 ">i</span> -> <span class="type">int</span> <span class="signal" data-info="Final output, total latency: 2 ">o</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="type">int</span> <span class="in-out-variable">i2</span>  = <span class="in-out-variable">i</span>   * <span class="in-out-variable">i</span><br>
          &nbsp;&nbsp;&nbsp;<span class="reg">reg</span> <span class="type">int</span> <span class="in-out-variable">i4</span>  = <span class="in-out-variable">i2</span>  * <span class="in-out-variable">i2</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="type">int</span> <span class="in-out-variable">i8</span>  = <span class="in-out-variable">i4</span>  * <span class="in-out-variable">i4</span><br>
          &nbsp;&nbsp;&nbsp;<span class="reg">reg</span> <span class="type">int</span> <span class="in-out-variable">i16</span> = <span class="in-out-variable">i8</span>  * <span class="in-out-variable">i8</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="in-out-variable">o</span> = <span class="in-out-variable">i16</span> * <span class="in-out-variable">i</span><br>
          }
        </code> </pre>
      </div>
  
      </div>
  </section>

  <!-- Example 2 -->
  <section class="example">
    <h2>Compile-Time Generation of Look-Up Tables</h2>
    <div class="example-container">
      <p class="example-description">
        This generative code constructs a lookup table to efficiently solve the Fizz-Buzz problem. Instead of evaluating conditions at runtime, the table is fully computed during code generation.
        <br><br>
        FIZZ (888) represents numbers divisible by 3.<br>
        BUZZ (555) represents numbers divisible by 5.<br>
        FIZZ_BUZZ (888555) is used for numbers divisible by both 3 and 5.<br>
        TABLE_SIZE (256) defines the number of precomputed entries in the lookup table.<br>
        <br> <br>
        The array lut stores a precomputed value for each i from 0 to TABLE_SIZE - 1.<br>
        If i is divisible by both 3 and 5, FIZZ_BUZZ (888555) is stored.<br>
        If only by 3, FIZZ (888) is stored.<br>
        If only by 5, BUZZ (555) is stored.<br>
        Otherwise, i itself is stored.<br>
        <br><br>
        After generation, lut contains all results. <br>
        At runtime, fb = lut[v] provides an instant lookup, avoiding conditionals and divisions. <br>
        <br><br>
      </p>
      <div class="example-editor">
        <pre>
          <span class="keyword">module</span> <span class="hdl-module">fizz_buzz_gen</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">interface</span> <span class="hdl-module">fizz_buzz_gen</span> : <span class="type">int</span> <span class="in-out-variable">v</span> -> <span class="type">int</span> <span class="in-out-variable">fb</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span> <span class="variable">FIZZ</span> = <span class="number">888</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span> <span class="variable">BUZZ</span> = <span class="number">555</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span> <span class="variable">FIZZ_BUZZ</span> = <span class="number">888555</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span> <span class="variable">TABLE_SIZE</span> = <span class="number">256</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span>[<span class="variable">TABLE_SIZE</span>] <span class="variable">lut</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">for</span> <span class="type">int</span> <span class="variable">i</span> <span class="keyword">in</span> <span class="number">0..</span><span class="variable">TABLE_SIZE</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">bool</span> <span class="variable">fizz</span> = <span class="variable">i</span> % <span class="number">3</span> == <span class="number">0</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">bool</span> <span class="variable">buzz</span> = <span class="variable">i</span> % <span class="number">5</span> == <span class="number">0</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span> <span class="variable">tbl_fb</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">if</span> <span class="variable">fizz</span> & <span class="variable">buzz</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="variable">tbl_fb</span> = <span class="variable">FIZZ_BUZZ</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} <span class="keyword">else</span> <span class="keyword">if</span> <span class="variable">fizz</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="variable">tbl_fb</span> = <span class="variable">FIZZ</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} <span class="keyword">else</span> <span class="keyword">if</span> <span class="variable">buzz</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="variable">tbl_fb</span> = <span class="variable">BUZZ</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} <span class="keyword">else</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="variable">tbl_fb</span> = <span class="variable">i</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="variable">lut</span>[<span class="variable">i</span>] = <span class="variable">tbl_fb</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;}<br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="in-out-variable">fb</span> = <span class="lut">lut</span>[<span class="in-out-variable">v</span>]<br>
          }
        </pre>
      </div>
    </div>
  </section>

  <!-- Example 3 -->
  <section class="example">
    <h2>Multiple Interfaces and Clock Domain Separation</h2>
    <div class="example-container">
      <p class="example-description">
        
      This FIFO module is structured around multiple interfaces that define distinct operational domains. <br>
      Interfaces serve as the only means to transfer data between latency and clock domains while maintaining synchronization.<br>
      <br> <br>
      <strong>Interfaces in the FIFO Module</strong>
      Push Interface – Handles incoming data and writes it to memory.<br>
      Pop Interface – Reads data from memory when available.<br>
      Each interface consists of input and output ports and operates within its own clock and latency domain.<br>
      Wires belonging to the same latency counting group are placed in the same interface, ensuring that they experience delays consistently.<br>
      <br> <br>
      <strong>Clock Domain Separation and Cross Mechanism</strong>
      Since the push and pop domains operate independently, they cannot directly share wires. <br>
      Instead, domain crossing primitives (CrossDomain) are used to safely transfer data while preserving synchronization:<br>
      <br>
      write_to_pop transfers the write pointer to the pop domain.<br>
      read_to_push transfers the read pointer to the push domain.<br>
      mem_to_pop allows the pop domain to access memory contents.<br>
      To maintain signal synchronization across interfaces, multiple wires can be transferred together using the cross keyword:<br><br>
      <br>
     
      <code>cross wire_a, wire_b, wire_c;</code><br>

      <br>

      This ensures that all three signals arrive with their relative latencies preserved.<br>
       However, separate cross statements do not maintain synchronization between signals.<br>
      <br> <br>
      <strong> How Interfaces and Domains Work Together in the FIFO</strong> 
      The push interface writes data into the FIFO and updates the write address.<br>
      The pop interface reads data and checks the write pointer from the push domain.<br>
      Cross-domain mechanisms synchronize read and write pointers across interfaces.<br>
      Wires never directly cross domains without explicit synchronization.<br>
      Flow control logic ensures safe data transfer by preventing overflows and underflows.<br>
      By using explicitly defined interfaces and strict clock domain separation,<br>
      this FIFO design guarantees reliable data exchange between independent timing domains while maintaining latency correctness.<br>




      </p>
      <div class="example-editor">
        <pre>
          <span class="keyword">module</span> <span class="hdl-module">FIFO</span> <span class="operator">#(</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="type">T</span>,<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="type">int</span> <span class="variable">DEPTH</span>,<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// The FIFO may still receive data for several cycles after ready is de-asserted</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="type">int</span> <span class="variable">READY_SLACK</span><br>
          <span class="operator">)</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">state</span> <span class="type">T</span>[<span class="variable">DEPTH</span>] <span class="string">mem</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">state</span> <span class="type">int</span> <span class="number">read_addr</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">state</span> <span class="type">int</span> <span class="string">write_addr</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">initial</span> <span class="number">read_addr</span> = <span class="number">0</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">initial</span> <span class="string">write_addr</span> = <span class="number">0</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">domain</span> <span class="operator">push</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">output</span> <span class="type">bool</span> <span class="string">ready</span>'<span class="number">0<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">interface</span> <span class="hdl-module">push</span> : <span class="type">bool</span> <span class="string">push</span>'<span class="variable">READY_SLACK</span>, <span class="type">T</span> <span class="string">data_in</span>'<span class="variable">READY_SLACK</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">domain</span> <span class="operator">pop</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">interface</span> <span class="hdl-module">pop</span> : <span class="type">bool</span> <span class="number">pop</span> -> <span class="type">bool</span> <span class="number">data_valid</span>, <span class="type">T</span> <span class="number">data_out</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="hdl-module">CrossDomain</span> <span class="hdl-module">write_to_pop</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="hdl-module">write_to_pop</span>.<span class="variable">in</span> = <span class="string">write_addr</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="hdl-module">CrossDomain</span> <span class="hdl-module">read_to_push</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="hdl-module">read_to_push</span>.<span class="variable">in</span> = <span class="number">read_addr</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="hdl-module">CrossDomain</span> <span class="hdl-module">mem_to_pop</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="hdl-module">mem_to_pop</span>.<span class="variable">in</span> = <span class="string">mem</span><br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">if</span> <span class="number">pop</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="number">data_valid</span> = <span class="number">read_addr</span> != <span class="variable">write_to_pop</span>.<span class="string">out</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">if</span> <span class="number">data_valid</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// Add a pipelining register, because it can usually be fitted to the</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="reg-state-inital">reg</span> <span class="number">data_out</span> = <span class="variable">mem_to_pop</span>.<span class="string">out</span>[<span class="number">read_addr</span>]<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="number">read_addr</span> = (<span class="number">read_addr</span> + <span class="number">1</span>) % <span class="variable">DEPTH</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
          &nbsp;&nbsp;&nbsp;&nbsp;}<br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">if</span> <span class="string">push</span> {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">mem</span>[<span class="string">write_addr</span>] = <span class="string">data_in</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">write_addr</span> = (<span class="string">write_addr</span> + <span class="number">1</span>) % <span class="variable">DEPTH</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;}<br><br>
      
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment">// Wrapping subtract</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="type">int</span> <span class="string">space_remaining</span> = (<span class="hdl-module">read_to_push</span>.<span class="string">out</span> - <span class="string">write_addr</span>) % <span class="variable">DEPTH</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">gen</span> <span class="type">int</span> <span class="variable">ALMOST_FULL_TRESHOLD</span> = <span class="variable">READY_SLACK</span> + <span class="number">1</span> <span class="comment">// +1 for the latency reg we introduce here</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="reg-state-inital">reg</span> <span class="type">bool</span> <span class="string">r</span> = <span class="string">space_remaining</span> >  <span class="variable">ALMOST_FULL_TRESHOLD</span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="string">ready</span> = <span class="hdl-module">LatencyOffset</span> <span class="operator">#(</span><span class="variable">OFFSET</span>: -<span class="variable">ALMOST_FULL_TRESHOLD</span><span class="operator">)</span>(<span class="string">r</span>)<br>
          }
        </pre>
      </div>
    </div>
  </section>
</div>


{% endblock content %}
