{% extends "base.html" %} {% block content %}


<header class="hero" style="margin-bottom: 30px;">
  <h1>Examples for SUS</h1>
  <p>
    Explore the various examples demonstrating the features and capabilities of SUS
  </p>
  </div>
</header>

<div class="examples-wrapper">
  <!-- Example 1 -->
  <section class="example">
    <h2>Latency Counting for Aiding Pipelining</h2>
    <div class="example-container">
      <p class="example-description">
        This example shows how to count latencies to simplify pipelining.
      </p>
      <div class="example-editor small" id="editor-latency"></div>
    </div>
  </section>

  <!-- Example 2 -->
  <section class="example">
    <h2>Compile-Time Generation of Look-Up Tables</h2>
    <div class="example-container">
      <p class="example-description">
        This module generates a lookup table at compile time, demonstrating
        efficient use of compile-time constants.
      </p>
      <div class="example-editor large" id="editor-lut"></div>
    </div>
  </section>

  <!-- Example 3 -->
  <section class="example">
    <h2>Multiple Interfaces and Clock Domain Separation</h2>
    <div class="example-container">
      <p class="example-description">
        This example showcases the use of multiple interfaces and visual
        separation of clock domains in an IDE setting.
      </p>
      <div class="example-editor xtra-large" id="editor-fifo"></div>
    </div>
  </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.38.0/min/vs/loader.min.js"></script>
<script>
    require.config({
      paths: { vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.38.0/min/vs" },
    });

    require(["vs/editor/editor.main"], function () {
      const examples = [
        {
          id: "editor-latency",
          code: `module pow17 {
      interface pow17 : int i -> int o
          int i2  = i   * i
      reg int i4  = i2  * i2
          int i8  = i4  * i4
      reg int i16 = i8  * i8
              o   = i16 * i
  }`,
        },
        {
          id: "editor-lut",
          code: `module fizz_buzz_gen {
      interface fizz_buzz_gen : int v -> int fb
      gen int FIZZ = 888
      gen int BUZZ = 555
      gen int FIZZ_BUZZ = 888555
      gen int TABLE_SIZE = 256

      gen int[TABLE_SIZE] lut

      for int i in 0..TABLE_SIZE {
          gen bool fizz = i % 3 == 0
          gen bool buzz = i % 5 == 0

          gen int tbl_fb
          if fizz & buzz {
              tbl_fb = FIZZ_BUZZ
          } else if fizz {
              tbl_fb = FIZZ
          } else if buzz {
              tbl_fb = BUZZ
          } else {
              tbl_fb = i
          }

          lut[i] = tbl_fb
      }

      fb = lut[v]
  }`,
        },
        {
          id: "editor-fifo",
          code: `module FIFO #(
      T,
      int DEPTH,
      int READY_SLACK
  ) {
      state T[DEPTH] mem
      state int read_addr
      state int write_addr

      initial read_addr = 0
      initial write_addr = 0

      domain push
      output bool ready'0
      interface push : bool push'READY_SLACK, T data_in'READY_SLACK

      domain pop
      interface pop : bool pop -> bool data_valid, T data_out

      CrossDomain write_to_pop
      write_to_pop.in = write_addr

      CrossDomain read_to_push
      read_to_push.in = read_addr

      CrossDomain mem_to_pop
      mem_to_pop.in = mem

      if pop {
          data_valid = read_addr != write_to_pop.out
          if data_valid {
              reg data_out = mem_to_pop.out[read_addr]
              read_addr = (read_addr + 1) % DEPTH
          }
      }

      if push {
          mem[write_addr] = data_in
          write_addr = (write_addr + 1) % DEPTH
      }

      int space_remaining = (read_to_push.out - write_addr) % DEPTH
      gen int ALMOST_FULL_TRESHOLD = READY_SLACK + 1
      reg bool r = space_remaining > ALMOST_FULL_TRESHOLD
      ready = LatencyOffset #(OFFSET: -ALMOST_FULL_TRESHOLD)(r)
  }`,
        },
      ];

      examples.forEach((example) => {
        monaco.editor.create(document.getElementById(example.id), {
          value: example.code,
          language: "sus", // Change to 'sus' once available
          theme: "vs-dark",
          readOnly: true, 
          scrollBeyondLastLine: false,
          automaticLayout: true,
          minimap: { enabled: false },
          scrollbar: {
          vertical: "hidden",
          horizontal: "hidden"},
          fontSize: 14,
          lineNumbers: "on",
        });
      });
    });
</script>

{% endblock content %}
